<div id="{{ id }}" class="dialog_container">
    <div class="{{ id }} dialog">
        <button action="hide_dialog" class="close button button_right">x</button>
        {{ content }}
    </div>
</div>
