<h2>Select Countdown Time</h2>

<div class="selector">
    <div class="title">Hours</div>
    <a href="javascript:;" class="up"></a>
    <div class="value">0</div>
    <a href="javascript:;" class="down"></a>
</div>

<div class="selector">
    <div class="title">Minutes</div>
    <a href="javascript:;" class="up"></a>
    <div class="value">0</div>
    <a href="javascript:;" class="down"></a>
</div>

<div class="selector">
    <div class="title">Seconds</div>
    <a href="javascript:;" class="up"></a>
    <div class="value">0</div>
    <a href="javascript:;" class="down"></a>
</div>
