<div id="{{ id }}" class="dialog_container">
    <div class="{{ id }} dialog">
        <a href="javascript:;" hideDialog="true" class="close button button_right">x</a>
        {{ content }}
    </div>
</div>
