.time_box, .countdown_box {
    position:absolute;
    width:94%;
    height:100%;
    max-height:300px;
    max-width:950px;
    margin:auto;
}

.left_1 {
    left:7%;
}
.left_2 {
    left:28%;
}

.right_1 {
    left: 52%;
}
.right_2 {
    left: 73%;
}

.hour_1 {
    left:0;
}
.hour_2 {
    left:21%;
}

.minute_1 {
    left:44%;
}
.minute_2 {
    left:65%;
}

.second_1 {
    right:7%;
}
.second_2 {
    right:0;
}

.layout_no_seconds {
    .hour_1 {
        left:7%;
    }
    .hour_2 {
        left:28%;
    }

    .minute_1 {
        left:52%;
    }
    .minute_2 {
        left:73%;
    }
}

////////////////////////////////////////////////////////////////
// Font profiles

.font_sahara {
    .digit {
        font-size: 279px;
        text-align: center;
        font-family: 'sahararegular';
        text-indent: 10px;

        &.time_right, &.ampm {
            line-height: 100px;
            font-size: 90px;
            text-indent: 5px;
        }

        &.ampm {
            text-transform: uppercase;
        }
    }
}


/////////////////////////////////////////////////////
// Digit styles

.digit {
    font-family: 'franchiseregular';
    font-size: 320px;
    line-height: 310px;
    text-align: center;

    // font
    &.time_right {
        line-height: 105px;
        font-size: 90px;
    }

    &.ampm {
        line-height: 105px;
        font-size: 90px;
        text-transform: uppercase;
    }

    // layout
    &.time {
        top:0;
        bottom:0;
        height:100%;
        width:19%;
        max-width:180px;
    }

    &.time_right {
        bottom: 20px;
        width: 6%;
        max-width:100px;
        height:100px;
    }

    &.ampm {
        top:20px;
        right:0;
        width:13%;
        max-width:200px;
        height:100px;
    }
}


// snazzy fun digit styles

.digit {
    position:absolute;
    display:block;
    width: 150px;
    height: 300px;

    -webkit-perspective: 1000px;
    perspective: 1000px;

    cursor: default;

    .card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .top, .bottom {
            overflow: hidden;
            position: absolute;
            height: 50%;
            width: 100%;

            .padding-clip();
        }

        .inner {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .top {
            top: 0;
            margin-top: -1px;
            border-bottom: 1px solid black;

            .border-radius-top(10px);
            background-color: #222;
            .background-gradient(#222, #333);
            color: #ffffff;
        }
        .bottom {
            top: 50%;
            border-top: 1px solid black;
            .border-radius-bottom(10px);

            background-color: #111;
            .background-gradient(#222, #111);
            color: #cccccc;

            .inner {
                top: -100%;
            }
        }
    }

    .transform {
        .transition-prefix(transform, 0.75s, ease);
    }

    .active {
        .transform-style(preserve-3d);

        &.flipped {
            .transform-flip(-180deg);

            .back {
                opacity: 1;
            }
        }

        .front, .back {
            margin: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;

            .backface-visibility(hidden);

            div {
                -webkit-transform: translate3d(0,0,0);
                .backface-visibility(hidden);
            }
        }
        .back {
            .transform-flip(180deg);
        }
    }
}

// fix backface issues in Chrome
.chrome-backface-fix {
    .digit {
        .transform {
            // Hello Chrome, nice to meet you
            // see http://stackoverflow.com/questions/10355564/backface-visibility-broken-in-chrome-certain-platforms-versions
            .back {
                -webkit-transition-property: opacity;
                -webkit-transition-duration: 0;
                -webkit-transition-timing-function: linear;
                -webkit-transition-delay: 0.25s;
            }
        }

        .active {
            &.flipped {
                .back {
                    opacity: 1;
                }
            }

            .back {
                opacity: 0;
            }
        }
    }
}

@import "mobile_landscape.less";
@import "mobile_portrait.less";
