.flip {
  position: absolute;
  left: 300px;
}
.time_box,
.countdown_box {
  position: absolute;
  width: 94%;
  height: 100%;
  max-height: 300px;
  max-width: 950px;
  margin: auto;
}
.left_1 {
  left: 7%;
}
.left_2 {
  left: 28%;
}
.right_1 {
  left: 52%;
}
.right_2 {
  left: 73%;
}
.hour_1 {
  left: 0;
}
.hour_2 {
  left: 21%;
}
.minute_1 {
  left: 44%;
}
.minute_2 {
  left: 65%;
}
.second_1 {
  right: 8%;
}
.second_2 {
  right: 0;
}
.layout_no_seconds .hour_1 {
  left: 7%;
}
.layout_no_seconds .hour_2 {
  left: 28%;
}
.layout_no_seconds .minute_1 {
  left: 52%;
}
.layout_no_seconds .minute_2 {
  left: 73%;
}
.digit {
  font-size: 320px;
  line-height: 300px;
  text-align: center;
  font-family: 'franchiseregular';
}
.digit.time {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 19%;
  max-width: 180px;
}
.digit.time_right {
  bottom: 20px;
  width: 6%;
  max-width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 90px;
}
.digit.ampm {
  top: 20px;
  right: 0;
  width: 14%;
  max-width: 200px;
  height: 100px;
  line-height: 105px;
  font-size: 90px;
  text-transform: uppercase;
}
@media (max-width: 600px), (max-height: 300px) {
  .time_box,
  .countdown_box {
    max-height: 150px;
    max-width: 480px;
  }
  .digit.time {
    max-width: 80px;
  }
  .digit.ampm {
    max-width: 60px;
    height: 50px;
  }
  .digit.time_right {
    max-width: 25px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .time_box,
  .countdown_box {
    max-height: 100px;
    max-width: 320px;
  }
  .digit.time {
    max-width: 55px;
  }
  .digit.time .card .before,
  .digit.time .card .after {
    width: 40px;
  }
  .digit.ampm {
    max-width: 30px;
    height: 30px;
  }
  .digit.ampm .card .before,
  .digit.ampm .card .after {
    width: 20px;
  }
  .digit.time_right {
    max-width: 25px;
    height: 50px;
  }
}
.digit {
  position: absolute;
  display: block;
  width: 150px;
  height: 300px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.digit .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.digit .card .top,
.digit .card .bottom {
  overflow: hidden;
  position: absolute;
  height: 50%;
  width: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.digit .card .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.digit .card .top {
  top: 0;
  margin-top: -1px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#333333));
  background-image: -webkit-linear-gradient(top, #222222, #333333);
  background-image: -moz-linear-gradient(top, #222222, #333333);
  background-image: -ms-linear-gradient(top, #222222, #333333);
  background-image: -o-linear-gradient(top, #222222, #333333);
  background-image: linear-gradient(top, #222222, #333333);
  color: #ffffff;
}
.digit .card .bottom {
  top: 50%;
  margin-top: 1px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -ms-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(top, #222222, #111111);
  color: #dddddd;
}
.digit .card .bottom .inner {
  top: -100%;
}
.digit .transform {
  transition: transform 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease;
}
.digit .active {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.digit .active.flipped {
  transform: rotatex(-180deg);
  -webkit-transform: rotatex(-180deg);
}
.digit .active .front,
.digit .active .back {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.digit .active .front div,
.digit .active .back div {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.digit .active .back {
  transform: rotatex(180deg);
  -webkit-transform: rotatex(180deg);
}
.dialog_container {
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translatey(-100%);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
}
.dialog_container .dialog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#999999));
  background-image: -webkit-linear-gradient(top, #cccccc, #999999);
  background-image: -moz-linear-gradient(top, #cccccc, #999999);
  background-image: -ms-linear-gradient(top, #cccccc, #999999);
  background-image: -o-linear-gradient(top, #cccccc, #999999);
  background-image: linear-gradient(top, #cccccc, #999999);
  -moz-box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 250px;
  margin-top: -125px;
  margin-left: -250px;
  border: 1px solid #333;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.dialog_container .dialog h2 {
  margin: 0 0 10px;
}
.dialog_container .dialog .close {
  z-index: 11;
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  width: 50px;
  height: 30px;
  line-height: 30px;
}
.dialog_container .dialog .action_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.dialog_container .about div {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.dialog_container .about .name {
  top: 0.1em;
  font-size: 1.8em;
}
.dialog_container .about .version {
  top: 2.1em;
  font-size: 1.2em;
}
.dialog_container .about .icon {
  top: 4.6em;
  bottom: 1.8em;
  background: url("/apple-touch-icon-precomposed.png") center no-repeat;
  margin: auto;
  max-width: 114px;
  background-size: contain;
}
.dialog_container .about .copyright {
  bottom: 0.3em;
  font-size: 0.8em;
}
.dialog_container .about .copyright a {
  color: black;
}
.dialog_container .options .toggle {
  padding-left: 40px;
  padding-right: 40px;
}
.active_dialog {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translatey(0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
@media (max-width: 650px) {
  .dialog_container .dialog {
    margin-left: 0;
    margin-right: 0;
    width: inherit;
    left: 10%;
    right: 10%;
  }
}
@media (max-height: 370px) {
  .dialog_container .dialog {
    margin-top: 0;
    margin-bottom: 0;
    height: inherit;
    top: 13%;
    bottom: 13%;
  }
}
@media screen and (max-width: 600px) {
  .dialog_container .about .icon {
    background-size: contain;
  }
}
.selector {
  display: inline-block;
  width: 100px;
  margin: 0 5px;
}
.selector .title {
  display: block;
  margin: 0;
  padding: 3px;
  color: black;
}
.selector .controls {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 0;
  line-height: 0;
  background: black;
  color: white;
}
.selector .controls .icon_up,
.selector .controls .icon_down,
.selector .controls .inner {
  height: 40px;
}
.selector .controls .icon_up {
  -webkit-border-top-right-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.selector .controls .icon_up .inner {
  background: url(../images/icons/00-up.png) no-repeat center;
}
.selector .controls .value {
  padding: 5px 0;
  margin-top: 1px;
  display: block;
  line-height: 20px;
  font-size: 20px;
  background: #333;
  border: 1px solid black;
}
.selector .controls .button {
  margin: 0;
  width: 100px;
  border: 0;
}
.selector .controls .button .inner {
  display: block;
  width: 25px;
  margin: auto;
}
.selector .controls .icon_down {
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.selector .controls .icon_down .inner {
  background: url(../images/icons/00-down.png) no-repeat center;
}
@media (max-height: 300px) {
  .selector .controls {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .selector .controls .icon_up,
  .selector .controls .icon_down,
  .selector .controls .inner {
    height: 30px;
  }
  .selector .controls .icon_up {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  .selector .controls .value {
    padding: 3px 0;
    line-height: 15px;
    font-size: 15px;
  }
  .selector .controls .button {
    height: 30px;
  }
  .selector .controls .icon_down {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #ccc;
  font-weight: bold;
  font-size: 11pt;
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px #333;
  line-height: 40px;
  height: 40px;
  width: 100px;
  margin: 4px 0 4px 4px;
  padding: 0;
  -webkit-appearance: none;
  outline: 0;
  border: 1px solid #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#000000));
  background-image: -webkit-linear-gradient(top, #3c3c3c, #000000);
  background-image: -moz-linear-gradient(top, #3c3c3c, #000000);
  background-image: -ms-linear-gradient(top, #3c3c3c, #000000);
  background-image: -o-linear-gradient(top, #3c3c3c, #000000);
  background-image: linear-gradient(top, #3c3c3c, #000000);
}
.button.down {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#3c3c3c));
  background-image: -webkit-linear-gradient(top, #222222, #3c3c3c);
  background-image: -moz-linear-gradient(top, #222222, #3c3c3c);
  background-image: -ms-linear-gradient(top, #222222, #3c3c3c);
  background-image: -o-linear-gradient(top, #222222, #3c3c3c);
  background-image: linear-gradient(top, #222222, #3c3c3c);
  -webkit-transform: translate3d(0, 1px, 0);
  -moz-transform: translatey(1px);
  -ms-transform: translate3d(0, 1px, 0);
  -o-transform: translate3d(0, 1px, 0);
}
.button.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#414141), to(#222222));
  background-image: -webkit-linear-gradient(top, #414141, #222222);
  background-image: -moz-linear-gradient(top, #414141, #222222);
  background-image: -ms-linear-gradient(top, #414141, #222222);
  background-image: -o-linear-gradient(top, #414141, #222222);
  background-image: linear-gradient(top, #414141, #222222);
}
.button.confirm {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6c6c6c), to(#4c4c4c));
  background-image: -webkit-linear-gradient(top, #6c6c6c, #4c4c4c);
  background-image: -moz-linear-gradient(top, #6c6c6c, #4c4c4c);
  background-image: -ms-linear-gradient(top, #6c6c6c, #4c4c4c);
  background-image: -o-linear-gradient(top, #6c6c6c, #4c4c4c);
  background-image: linear-gradient(top, #6c6c6c, #4c4c4c);
}
.button.confirm.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8c8c8c), to(#6c6c6c));
  background-image: -webkit-linear-gradient(top, #8c8c8c, #6c6c6c);
  background-image: -moz-linear-gradient(top, #8c8c8c, #6c6c6c);
  background-image: -ms-linear-gradient(top, #8c8c8c, #6c6c6c);
  background-image: -o-linear-gradient(top, #8c8c8c, #6c6c6c);
  background-image: linear-gradient(top, #8c8c8c, #6c6c6c);
}
.button.confirm.down {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#6c6c6c));
  background-image: -webkit-linear-gradient(top, #4c4c4c, #6c6c6c);
  background-image: -moz-linear-gradient(top, #4c4c4c, #6c6c6c);
  background-image: -ms-linear-gradient(top, #4c4c4c, #6c6c6c);
  background-image: -o-linear-gradient(top, #4c4c4c, #6c6c6c);
  background-image: linear-gradient(top, #4c4c4c, #6c6c6c);
}
.button.countdown {
  width: 130px;
}
.button_right {
  float: right;
  margin-right: 4px;
  margin-left: 0;
}
@media (max-width: 480px) {
  .bar .button,
  .bar .button.countdown {
    width: 40px;
  }
  .bar .button .label,
  .bar .button.countdown .label {
    display: none;
  }
}
/*
Some, as of yet, unused custom colors for buttons
.button.cancel {
    .background-gradient(#A10028, #4A0012);
}
.button.cancel.active {
    .background-gradient(#B5002D, #690019);
}
.button.cancel.down {
    .background-gradient(#4A0012, #A10028);
}

.button.confirm {
    .background-gradient(#008000, #003801);
}
.button.confirm.active {
    .background-gradient(#00A100, #006900);
}
.button.confirm.down {
    .background-gradient(#003801, #008000);
}
*/
.icon .button_inner {
  display: block;
  margin: 0 0 0 10px;
  height: 100%;
  width: 20px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon_star .button_inner {
  background-image: url("../images/icons/28-star.png");
}
.icon_countdown .button_inner {
  background-image: url("../images/icons/78-stopwatch.png");
}
.icon_clock .button_inner {
  background-image: url("../images/icons/11-clock.png");
}
.icon_options .button_inner {
  background-image: url("../images/icons/19-gear.png");
}
.toggle {
  padding: 8px 5px;
  clear: both;
}
.toggle:after {
  content: ' ';
  clear: both;
  line-height: 0;
  height: 0;
}
.toggle .label {
  float: left;
  padding: 7px 0 0;
  font-size: 11pt;
}
.toggle .options {
  float: right;
}
.toggle .options button {
  float: right;
  padding: 5px 7px;
  margin: 0;
  color: black;
  text-decoration: none;
  font-size: 11pt;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#bbbbbb));
  background-image: -webkit-linear-gradient(top, #999999, #bbbbbb);
  background-image: -moz-linear-gradient(top, #999999, #bbbbbb);
  background-image: -ms-linear-gradient(top, #999999, #bbbbbb);
  background-image: -o-linear-gradient(top, #999999, #bbbbbb);
  background-image: linear-gradient(top, #999999, #bbbbbb);
  border: 1px solid black;
  border-right: 1px solid #111;
  border-left: 1px solid #333;
}
.toggle .options button.active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#111111));
  background-image: -webkit-linear-gradient(top, #777777, #111111);
  background-image: -moz-linear-gradient(top, #777777, #111111);
  background-image: -ms-linear-gradient(top, #777777, #111111);
  background-image: -o-linear-gradient(top, #777777, #111111);
  background-image: linear-gradient(top, #777777, #111111);
  color: #eee;
}
.toggle .options button:last-child {
  border-left: 1px solid black;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.toggle .options button:first-child {
  border-right: 1px solid black;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
* {
  -webkit-touch-callout: none;
}
body {
  display: block;
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  font: 10pt sans-serif;
}
#container {
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
#container.blink {
  background: #ffffff;
}
#container.passive_blink {
  background: #666666;
}
.bar_container,
.bar,
#container {
  -webkit-transition-property: background -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background -moz-transform;
  -moz-transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background, -ms-transform;
  -ms-transition-duration: 0.15s;
  -ms-transition-timing-function: linear;
  -o-transition-property: background, -o-transform;
  -o-transition-duration: 0.15s;
  -o-transition-timing-function: linear;
}
.bar_container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  background-color: #000;
}
.toolbar_active .bar_container {
  background-color: #444;
}
.toolbar_active #container {
  -webkit-transform: translate3d(0, -25px, 0);
  -moz-transform: translatey(-25px);
  -ms-transform: translate3d(0, -25px, 0);
  -o-transform: translate3d(0, -25px, 0);
}
.toolbar_active .bar {
  -webkit-transform: translate3d(0, -50px, 0);
  -moz-transform: translatey(-50px);
  -ms-transform: translate3d(0, -50px, 0);
  -o-transform: translate3d(0, -50px, 0);
}
.bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 50px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383838), color-stop(50%, #2a2a2a), color-stop(51%, #222222), color-stop(100%, #1b1b1b));
  background-image: -webkit-linear-gradient(#383838, #2a2a2a 50%, #222222 51%, #1b1b1b);
  background-image: -moz-linear-gradient(#383838, #2a2a2a 50%, #222222 51%, #1b1b1b);
  background-image: linear-gradient(#383838, #2a2a2a 50%, #222222 51%, #1b1b1b);
}
